@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

.error-msg {
    color: red;
    font-size: 12px;
    font-weight: 600;
}

@media(max-width: 768px) {
    .mybtn {
        width: 100%;
    }
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #505050; 
}

/* Navbar */

.navbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #430053d5;
  color: #fff;
  z-index: 1; 
}

  
  .navbox .leftside {
    width: 500px;
    height: 50px;
  }
  .leftside{
    display: flex;
  }
  .leftside .banner h3{
    margin-left: 20px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(223, 208, 2);
}

@keyframes jumpAnimation {
  40%{
    transform: rotate(-15deg);
  }
  60% {
    transform: translateY(-2px); 
  }
  100% {
    transform: translatex(0);
    transform: rotate(15deg);
  }
}
  
  .navbox .leftside .logo img {
    width: 100%;
    height: 100%;
    animation-name: jumpAnimation;
    animation-duration: 10s; 
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
  }
  
  .navbox .rightside {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  
  .navbox .rightside span {
    margin-right: 20px;
  }
  
  .navbox .rightside .navlink {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .navbox .rightside .navlink:hover {
    color: #f57224;
  }
  
  .navbox .rightside .no-of-products {
    background: #f57224;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -5px;
    left: -20px;
  }
  .navbox .rightside span{
 
        display: block;
        text-align: center;
        margin-top: -5px;

  }
  .logout-btn {
    padding: 8px 12px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ca452e;
    transition: background-color 0.3s;
  }
  
  .logout-btn:hover {
    background-color: #ff0000;
  }
@media screen and (max-width: 600px) {
    .navbox {
      padding: 2px 5px;
      display: flex;
      justify-content: space-between;
    }
    
    .navbox .leftside .banner h3{
        margin-left: 3px;
        margin-top: 7px;
        width: 100px;
        font-size: 22px;
    }
    .navbox .leftside .logo img{
        width: 30px;
        height: 30px;
        margin-top: 7px;
    }
    .navbox .rightside{
      margin-left: 48px;
    }
    .navbox .rightside .name-dis {
      text-align: center;
      width:75px;
      overflow: hidden;
    }
    .logout-btn{
      margin-left: -20px;
      margin-top: 5px;
    }
  }
  
  

  /* Login.css */
  /* Signup.css */

.auth{
  background-color: #ccd4db;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-add-container {
    box-shadow: 0px 0px 6px 1px rgb(59, 59, 59);
    border: 4px solid rgba(3, 0, 153, 0.89);
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    padding-bottom: 10px;
    padding-right: 65px;
    border-radius: 15px;
    margin-top: 15px;
    overflow: auto;
    height: 85vh;
  }

  .product-add-container::-webkit-scrollbar {
  width: 6px;
}

.login-container{
  background-color: rgb(237, 242, 243);
  border: 5px solid rgba(3, 0, 153, 0.89);
  padding: 60px;
  padding-right: 70px;
  border-radius: 15px;
}
.login-container:hover{
    box-shadow: 0px 0px 4px 1px rgb(84, 33, 136);
}
  
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"],
  input[type="number"],textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
  }

  input[type="file"] {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  input[type="file"]:hover {
    background-color: #297fb9af;
  }
  
  input[type="file"]:focus {
    outline: none;
  }

  
  .cashout-container {
    box-shadow: 0px 0px 6px 1px rgb(212, 32, 32);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
.cashout-container:hover{
    box-shadow: 0px 0px 12px 2px rgb(233, 28, 28);
}
.cashout-container h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
  
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    margin-top: 10px;
    background-color: #28a746e1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .error-msg {
    color: #dc3545;
  }
  
  span {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  span a {
    color: #007bff;
    text-decoration: none;
  }
  
  span a:hover {
    text-decoration: underline;
  }

  


/* products */

.fruits-heading h1 {
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 1px;
    font-size: x-large;
    color: rebeccapurple;
}
.ProductCategoryView{
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(83, 0, 76, 0.247);
  box-shadow: 0px 2px 1px 1px rgba(126, 126, 126, 0.253);
}

@media(max-width: 768px) {
    h1 {
        text-align: center;
        padding: 10px;
    }
}

.fruits-products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
}
.products-loader{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .explore{
  text-align: right;
  margin-right: 50px;
  position: relative;
 }
 .explore button{
  font-weight: bold;
  background-color: white;
  color: rgb(79, 42, 117);
  box-shadow: 0px 0px 4px 1px rgba(115, 53, 177, 0.568);
  border:1px solid rgb(69, 32, 107);
  padding: 5px;
 }
 .explore button:hover{
  background-color: rgb(136, 33, 177);
  color: white;
 }

 .product-card {
    width: 230px;
    height: 235px;
    margin: 10px;
    padding: 3px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 0px 1px 1px rgba(238, 130, 238, 0.466);
    border-radius: 12px;
    position: relative;
}
.product-discount-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #4ec928;
  color: white;
  padding: 1px 12px;
  border-radius: 12px 1px 12px 1px;
}
.badge{
  margin: 3px;
}

.product-card .product-img {
  padding: 0px;
  height: 110px;
}

 .product-card .product-img img {
    width: 100%;
    height: 98%;
    border-radius: 5px;
}

 .product-card .name-desc .product-name {
    display: block;
    width: 100%;
    height: 40px;
    color: #f57224;
    font-size: 18px;
    margin-bottom: 10px;
}
 .product-card .name-desc .product-description {
    display: block;
    width: 100%;
    height: 13px;
    color: #222222;
    margin-top: 5px;
}

 .product-card .product-price {
    width: 100%;
    font-size: 20px;
}
.card-bottom{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.product-price .del-product-price{
  font-weight: initial;
  font-size: 18px;
  color: lightslategray,
}

 .product-card .addcart-btn {
  background-color: white;
    color: #0038f0;
    border: 1px solid blue;
    box-shadow: 0px 0px 6px 1px rgba(99, 99, 250, 0.548);
    cursor: pointer;
    padding: 4px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
}
 .product-card .btn{
  width: 100%;
}
 .product-card .addcart-btn:hover{
  color: white;
  background-color: #0064c2;
}

@media(max-width: 768px) {

  .product-card {
    width: 100%;
    height: 125px;
    margin: 8px;
    flex-direction: row;
    justify-content: space-between;
    
    }
    .product-discount-badge {
      padding: 1px 10px;
    }

    .product-card .product-img {
      width: 130px;
      padding: 0px;
      max-height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
     .product-card .product-img img {
        width: auto;
        max-width: 130px;
        max-height: 90px;
        border-radius: 5px;
    }
    .name-desc{
      display: flex;
      flex-direction:column;
      height: 60%;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .product-card .name-desc .product-name {
        display: inline;
        color: #f57224;
        font-size: 16px;
        text-decoration: none;
        margin-bottom: 10px;
    }
    .product-card .name-desc .product-description {
        display: block;
        color: #222222;
        text-decoration: dashed;
        margin-top: 8px;
    }
    .product-price .del-product-price{
      font-weight: initial;
      font-size: 13px;
    }
    .product-card .product-price {
        font-size: 15px;
    }
    .card-bottom{
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 3px;
    }

    .product-card .addcart-btn {
      background-color: white;
        color: #0038f0;
        border: 1px solid blue;
        box-shadow: 0px 0px 6px 1px rgba(99, 99, 250, 0.548);
        cursor: pointer;
        padding: 4px 15px;
        margin-top: 10px;
        font-size: 22px;
        margin-bottom: 5px;
        outline: none;
    }
    .explore {
      margin-right: 15px;
    }
    .explore button{
      padding: 4px;
      font-size: 16px;
    }
}

/* cart */

.cart-page{
  padding-top: 60px;
}
.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
}

.cart-container .cart-card {
    width: 80%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: #d9dddfbd;
    border-radius: 5px;
}

@media(max-width: 768px) {
    .cart-container .cart-card {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #e4e4e4;
    }
}

.cart-container .cart-card .cart-img {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgba(148, 123, 153, 0.37);
  border-radius: 10px;
}

@media(max-width: 768px) {
    .cart-container .cart-card .cart-img {
        margin-top: 5px;
        width: 80%;
        background-color: rgba(245, 222, 179, 0);
    }
}

.cart-container .cart-card .cart-img img {
    width: auto;
    height: 100px;
}

.cart-container .cart-card .cart-name,
.cart-container .cart-card .cart-price {
    width: 150px;
    margin-left: 20px;
}

@media(max-width: 768px) {
  .cart-container .cart-card .cart-img img {
    width: auto;
    height: 75px;
}
    .cart-container .cart-card .cart-name,
    .cart-container .cart-card .cart-price {
        width: 90%;
        margin-left: 0px;
        text-align: center;
        margin-top: 4px;
    }
}
.cart-inc-dec{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

.inc , .dec{
  background-color: #90aebd88;
  border-radius: 5px;
  transition-duration: 1s;
}
.inc:hover, .dec:hover{
  background-color: #90aebdc4;
}


.cart-container .cart-card .cart-price-orignal {
    width: 150px;
    margin-left: 20px;
    color: #f57224;
}

@media(max-width: 768px) {

    .cart-container .cart-card .cart-price-orignal {
        width: 90%; 
        margin-left: 0px;
        text-align: center;
        margin-top: 4px;
    }
}

.delete-btn {
    background-color: transparent;
    border: hidden;
    outline: none;
    cursor: pointer;
    color: red;
}

.inc,
.dec {
    cursor: pointer;
}

@media(max-width: 768px) {
    .delete-btn {
        margin-top: 4px;
    }

    .inc,
    .dec {
      margin: 5px;
    }
}


.cart-summary {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid #e4e4e4;
    width: 300px;
}

.cart-summary .cart-summary-heading {
    border-bottom: 1px solid #f57224;
}

.cart-summary .cart-summary-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cashout-link {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.success-msg {
    background-color: green;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
}

.success-msg .home-link {
    color: #fff;
}

.delete-btn:hover{
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.747);
}

.dropdown {
  border: 1px solid #cccccca9;
  background-color: #fff;
  width: 102%; 
  max-height: 200px; 
  overflow-y: auto; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-row {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-row:hover {
  background-color: #f0f0f0;
}


.product-page {
  padding: 5px;
  position: relative;
}

.product-image {
  background-color: rgba(148, 148, 148, 0.13);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
  width: 550px;
  height: 500px;
  border-radius: 20px;
  margin: 20px;
  margin-bottom: -20px;
  background-position: center;
  background-size: cover;
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image img{
  max-width: 480px;
  max-height: 420px;
  margin: 10px;
  border-radius: 20px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 45%;
  font-size: 1.3rem;
  background: rgba(75, 72, 72, 0.2);
  color: #110c0c;
  cursor: pointer;
}

.left-arrow {
  background-color: #887f7f4f;
  padding:5px;
  border-radius: 10px;
  left: 47px;
}

.right-arrow {
  background-color: #887f7f4f;
  padding:5px;
  right: -70px;
  border-radius:10px ;
}


.dots {
  display: flex;
  justify-content: center;
  margin-left: 80px;
}

.dot {
  font-size: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #272727af;
  border-radius: 50%;
  height: 0.7rem;
  width: 0.7rem;
  margin: 3px;
}

.dot.active {
  height: 1rem;
  width: 1rem;
  margin-top: 1px;

  background: #0f1b00;
  color: #fff;
}

.product-top{
  display: flex;
  justify-content: space-between;
}


/* banner in main page */
.banner-main{
  margin-top: 7vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 40vh;
}

.banner1{
  border-bottom:1px solid #615d5d7e;
  box-shadow: 0px 3px 1px 1px rgba(133, 51, 153, 0.747);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 37vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-text h3{
  font-size: 41px;
  color: rgb(61, 10, 112);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 425px;
  margin-left: 30px;
}
.banner-img{
  height: 80%;
  width: 30%;
  border-radius:20px;
}
.banner-left{
  height: 80%;
  width: 30%;
  border-radius: 10px;
}

.banner-right{
  height: 90%;
  width: 30%; 
  border-radius: 10px;
}


@media(max-width: 768px) {
  .banner-left{
    height: 0%;
    width: 0%;
  }
  .banner-right{
    height: 0%;
    width: 0%;
  }
  .banner-text h3{
    font-size: 27px;
    width: 200px;
    margin-left: 10px;
  }
  .banner-img{
    height: 70%;
    width: 50%;
  }
  .banner-main{
    height: 27vh;
  }
  .banner1{
    height: 23vh;
    border-radius: 5px;
  }
}


.product-description{
  margin-top: 5%;
  width: 100%;
}
.product-description p{
  font-size: 20px;
}

.product-left {
  flex: 1;
  max-width: 35%;
}

.product-right {
  flex: 1;
  max-width: 58%;
}

.product-page {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product-top {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}

.product-details {
  background: #b8b8b84b;
  border-radius: 15px;
  height: 450px;
  padding: 20px;
  margin: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details h2 {
  font-size: 3.2rem;
  color: #333;
  margin-bottom: 10px;
  text-align: start;
}

.product-details p {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #555;
}
.details-category p{
  font-size: 18px;
}

.discount-price{
  display: flex;
  align-items: center;
}
.discount-price del{
  font-size: 22px;
  margin-left: 10px;
}
.discount-price p{
  font-size: 27px;
}
.product-discount p{
  color: white;
  background-color: #218838;
  width: 24%;
  padding: 4px;
  border-radius:10px ;
  text-align: center;
}
.product-description{
  height: 120px;
}
.product-description p{
  font-size: 17px;
}

.add-to-cart-btn{
  text-align: center;
  width: 40%;
  background-color: goldenrod;
}
.add-to-cart-btn-main{
  text-align: center;
}
.add-to-cart-btn:hover{
  background-color: rgb(192, 138, 0);
}
.review{
  margin-top: 10px;
  color: goldenrod;
  margin-bottom: 1px;
}

.css-1xc3v61-indicatorContainer{
  
}

.css-12a83d4-MultiValueRemove{
  border-radius: 12px;
  background-color: rgb(191, 211, 236);
}

.css-1p3m7a8-multiValue{
  padding: 3px;
  color:rebeccapurple
}
.css-1p3m7a8-multiValue{
  border-radius: 30px;

}

.css-wsp0cs-MultiValueGeneric{
  font-weight: bold;
}